%style

%script{:type => "text/x-handlebars", "data-template-name"=>"app"}
  {{outlet}}

%script{:type => "text/x-handlebars", "data-template-name"=>"grid"}
  %div{:class=>'iosSlider'}
    %div{:class=>'slider'}
      {{#each slides}}
      %div{:class=>'slide', :bind => {:id=>'divID'}}
        {{view App.ItemView pos="first"}}
        {{view App.ItemView pos="second"}}
        {{view App.ItemView pos="third"}}
        {{view App.ItemView pos="fourth"}}
      {{/each}}


%script{:type => "text/x-handlebars", "data-template-name"=>"selected"}
  %div{:id=>'selected-container'}
    %div{:id=>'viewall-button'}
      %a{:href=>"", :_action => 'viewSelection'}
        %i{:class=>"icon-chevron-right icon-4x"}

    %a{:href=>"",:_action => 'toggleContainer' }
      {{#if show}}
      %i{:id=>'toggle-button', :class=>"icon-chevron-down icon-white icon-4x"}
      {{else}}
      %i{:id=>'toggle-button', :class=>"icon-chevron-up icon-white icon-4x"}
      {{/if}}
    
    

    {{#each App.AnswerItems}}
    %img{:class=>'preview-item-img', :bind =>{ :src => 'href'}}
    {{/each}}

%script{:type => "text/x-handlebars", "data-template-name"=>"zoom"}
  %div{:id=>"item-zoom"}
    %img{:class=>'zoom-image', :bind =>{ :src => 'App.PreviewImage.href'}}
    %div{:class=>'row-fluid'}
      %button{:class=>'btn btn-large btn-primary span2 offset4 preview-button', :type=>'button', :_action => 'addSelection' }
        %i{:class=>"icon-heart icon-white"} 
        &nbspAdd to list
      %button{:class=>'btn btn-large btn-danger span2 preview-button', :type=>'button', :_action => 'close' }
        %i{:class=>"icon-remove icon-white"} 
        &nbspClose


%script{:type => "text/x-handlebars", "data-template-name"=>"index"}
  {{outlet grid}}
  {{outlet selected}}
  {{outlet zoom}}

%script{:type => "text/x-handlebars", "data-template-name"=>"item-partial"}
  %div{:bind=>{:class=>'view.item.containerClass'}}
    %img{:class=>'image-item', :bind =>{ :src => 'view.item.href', :class=>'view.item.class' }}

%script{:type => "text/x-handlebars", "data-template-name"=>"show"}
  %div{:id=>'coverflow'}
      


