body {
  overflow: hidden;
}

/* slider container */
.iosSlider {
  /* required */
  position: relative;
  top: 0;
  overflow: hidden;
  /* width set in javascript */
  /* height set in javascript */
}

/* slider */
.iosSlider .slider {
  /* required */
  width: 100%;
  height: 100%;
}

/* slide */
.iosSlider .slider .slide {
  /* required */
  /*float: left;*/

  /* width set in javascript */  
  /* height set in javascript */
}

.image-item {
  width: 200px;
  padding-bottom: 15px;
  padding-right: 15px;
  border-top-left-radius: 20px;
  float: left;
}


.preview-button{
  position:relative;
  top:20px;
}

#item-zoom {
  position: absolute;
  left:0px;
  top:0px;
  right:0px;
  bottom:0px;
  background-color: black;
  display:none;
  z-index: 9999;
}

.zoom-image {
  height: 80%;
}

.preview-item {
  width: auto;
}

.preview-item-img {
  height: 180px;
  padding: 10px;
}
.overlay {
  position: absolute;
  top: 100px;
}

#selected-container {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  position:absolute;
  bottom: -162px;
  width: 80%;
  left: 10%;
  height: 200px;
  background-color: #F2EFC4;
  z-index: 9998;
  overflow-x: scroll;
  overflow-y: hidden;
}

#viewall-button {
  position: absolute;
  right: 20px;
  top: 80px;
}

#toggle-button {
  color: black;
  position: absolute;
  top: -10px;
  left: 50%;
  margin-left: -28px;
}

a:hover {
  text-decoration: none;
}